body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, #E04125, #F28D38);
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

#main{
    max-width: 600px;
    margin: 10px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

 form button {
    background-color: #F28D38;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ec7231;
}

input[type="text"] {
    width: 97%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus {
    border-color: #4CAF50;
    outline: none;
}

.empty-message {
    text-align: center;
    color: #888;
    font-style: italic;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    word-break: break-all;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.deleteButton {
    background-color: #ccc4c2a1;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-left: 10px;
}

.deleteButton:hover {
    background-color: #cbc9c9;
}